// CSS reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color:#faf4f1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

// Box-size all the things
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

html {
  position: relative;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.container{
  border:2px solid grey;
  display:inline-block;
}

#queues {
  margin: 20px 0;
}

.run-loop-queue {
  float: left;
  border: 1px solid black;
  width: 150px;
  margin: 0 5px;
  background: white;
  z-index: 5;
  position: relative;
}

#current-queue-blip {
  background: blue;
  border-radius: 4px;
  position: absolute;
  z-index: 1;
  width: 161px;
  height: 30px;
  left: 0;
  -webkit-transition: left 0.4s, height 0.4s;
  -moz-transition: left 0.4s, height 0.4s;
  transition: left 0.4s, height 0.4s;
  margin-top: -6px;

  background: red;
}

textarea#code {
  display: block;
  width: 600px;
  height: 200px;
}

.tab-bar {
  .tabs-footer {
    display: block;
    padding: 2px;
    background: #f7f7f7;
    border: 1px solid #ddd;
    border-top-color: #ccc;
  }

  a {
    line-height: 18px;
    display: inline-block; //vertical-align:top;
    position: relative;
    padding: 6px 12px 5px 12px;
    color: #666;
    font-size: 12px;
    text-decoration: none;
    border-top: 1px solid #ddd;
    border-radius:5px;
    margin: 0 8px -1px 0;
    background-color: #eee;

    &:first-child {
      margin-left: 21px;
    }

    &:focus {
      outline: none;
    }

    &:hover, &.active {
      background-color: #f7f7f7;
      border-bottom: none;
    }

    &.active {
      border-bottom: 1px solid #f7f7f7;
      border-bottom-left-radius:0;
      border-bottom-right-radius:0;
    }

    &:hover:before, &.active:before,
    &:hover:after, &.active:after {
      border-bottom-color: #bbb;
      background-color: #f7f7f7;
    }

    &.active:before, &.active:after {
      padding-bottom: 1px;
    }

    &:before, &:after {
      content:'';
      display: block;
      position: absolute;
      top: -1px;
      z-index: 0;
      height: 100%;
      width: 15px;
      background-color: #eee;
      border: 1px solid #ddd;
      border-bottom:none;
    }

    &:before {
      right:-7px;
      border-left:none;
      transform:skew(27deg, 0deg);
      border-radius:0 5px 0 0;
      box-shadow:1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 white;
    }

    &:after {
      left:-7px;
      border-right:none;
      transform:skew(-27deg, 0deg);
      border-radius:5px 0 0 0;
      box-shadow:-1px 0 0 rgba(0,0,0,.1), inset 1px 0 white;
    }

    // reverse z-index natural ordering (works for 10 tabs max)
    &:nth-child(1)  { z-index:22; }
    &:nth-child(2)  { z-index:21; }
    &:nth-child(3)  { z-index:20; margin-left: 21px; }
    &:nth-child(4)  { z-index:19; }
    &:nth-child(5)  { z-index:18; }
    &:nth-child(6)  { z-index:17; }
    &:nth-child(7)  { z-index:16; }
    &:nth-child(8)  { z-index:15; }
    &:nth-child(9)  { z-index:14; }
    &:nth-child(10) { z-index:13; }
    &:nth-child(11) { z-index:11; }
    &:nth-child(12) { z-index:10; }
    &:nth-child(13) { z-index:9; }
    &:nth-child(14) { z-index:8; }
    &:nth-child(15) { z-index:7; }
    &:nth-child(16) { z-index:6; }
    &:nth-child(17) { z-index:5; }
    &:nth-child(18) { z-index:4; }
    &:nth-child(19) { z-index:3; }
    &:nth-child(20) { z-index:2; }
    &:nth-child(21) { z-index:1; }
    &.active { z-index:100; }
  }
}

.tab{
  display:inline-block;
}

.actions {
}

.action {
  margin: 3px;
  border: 1px solid blue;
  padding: 3px;
  font-size: 13px;

  overflow: hidden;
  &:hover {
    overflow: visible;
    pre {
      box-shadow: 0 0 3px black;
      -webkit-box-shadow: 0 0 3px black;
      -moz-box-shadow: 0 0 3px black;
    }
  }
  pre {
    background: white;
    float: left;
    display: block;
    position: relative;

  }
}

